.body {
  @apply flex flex-row py-3 mx-5 border-borderMain border-1 items-start rounded-[10px] max-w-[800px] relative cursor-pointer bg-mainBg
  transition-all duration-200 ease-in-out;
}

.dragging {
  @apply flex flex-row py-3 mx-5 border-stroke border-1 items-start rounded-[10px] max-w-[800px] relative cursor-pointer bg-mainBg
  shadow-lg transition-all duration-200 ease-in-out;
}

.checkbox {
  @apply flex justify-start items-center min-w-[40px] h-full;
}

.clickable {
  @apply flex flex-col flex-grow;
}

.notFavorite {
  @apply flex flex-row text-gray justify-center h-[25px] w-[25px] 
  items-center px-[4px] pb-[1px] rounded-[5px] 
  font-bold text-14 mx-2 transition-all duration-200 ease-in-out;

  &:hover {
    @apply bg-gray text-gray transition-all duration-200 ease-in-out;
  }
}

.favorite {
  @apply flex flex-row text-yellowTag bg-yellowTag justify-center h-[25px] w-[25px] 
  items-center px-[4px] pb-[1px] rounded-[5px] 
  font-bold text-14 mx-2 transition-all duration-200 ease-in-out;

  &:hover {
    @apply opacity-80;
  }
}

.devider {
  @apply flex items-center flex-grow mx-7;

  &::after {
    @apply flex-grow h-[1px] bg-devider transition-all duration-200 ease-in-out;
    content: '';
  }
}

.deviderDrag {
  @apply flex items-center flex-grow mx-7;

  &::after {
    @apply flex-grow h-[1px] bg-mainBg transition-all duration-200 ease-in-out;
    content: '';
  }
}

.sectionDevider {
  @apply flex items-center flex-grow my-3;

  &::after {
    @apply flex-grow h-[1px] bg-devider transition-all duration-200 ease-in-out;
    content: '';
  }
}

.dropZone {
  @apply flex flex-row items-center justify-center h-[40px] w-full rounded-[5px] mx-2 bg-blueTag;
}

.draggedTaskPlaceholder {
  @apply flex flex-row items-center justify-center h-[40px] w-full rounded-[5px] mx-2 bg-gray;
}
