.app {
  width: 100px;
  height: 100px;
  margin: auto;
  animation: spin-scale 3s infinite;
}

@keyframes spin-scale {
  // начальное состояние: без поворота и масштаба
  0% {
    transform: rotate(0deg) scale(1);
    // задаем функцию времени ease-in для плавного старта
    animation-timing-function: ease-in;
  }
  // промежуточное состояние: поворот на 180 градусов и увеличение масштаба на 20%
  50% {
    transform: rotate(180deg) scale(1.2);
    // задаем функцию времени ease-out для плавного завершения
    animation-timing-function: ease-out;
  }
  // конечное состояние: поворот на 360 градусов и возврат к исходному масштабу
  100% {
    transform: rotate(360deg) scale(1);
    // задаем функцию времени ease-in для плавного перехода к следующей итерации
    animation-timing-function: ease-in;
  }
}
