@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./fonts//Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url('./fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply relative m-0 p-0 bg-mainBg;
}

body::-webkit-scrollbar {
  @apply w-[10px] absolute right-0;
}

body::-webkit-scrollbar-track {
  @apply bg-nav;
}

body::-webkit-scrollbar-thumb {
  @apply bg-grayHover rounded-md;
}

#root {
  font-family: 'Gilroy-Medium', sans-serif;
  line-height: 1.5;
  width: 100%;
  max-width: none;
  color-scheme: light dark;
  padding: 0;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

.light {
  --color-text-gray: #aaaaaa;
  --color-text-gray-hover: #7c7c7c;
  --color-bg-gray: #f0f0f0;
  --color-bg-gray-hover: #dddddd;
  --color-main: #6e7dff;
  --color-main-bg: #ffffff;
  --border-header: #6e7dff;
  --menu-text: #ffffff;
  --menu-button-hover: #8e9aff;
  --navbutton-bg-hover: #eaeaea;
  --nav-bg: #f4f4f4;
  --task-text: #484848;
  --stroke: #e2e2e2;
  --checkbox-active: #6e7dff;
  --checkbox--icon-active: #ffffff;
  --selection: #8e9aff;
}

.dark {
  --color-text-gray: #aaaaaa;
  --color-text-gray-hover: #aaaaaa;
  --color-bg-gray: #4f4f4f;
  --color-bg-gray-hover: #2d2d2d;
  --color-main: #2d2d2d;
  --color-main-bg: #373737;
  --border-header: #4f4f4f;
  --menu-text: #aeaeae;
  --menu-button-hover: #3d3d3d;
  --navbutton-bg-hover: #4f4f4f;
  --nav-bg: #424242;
  --task-text: #dcdcdc;
  --stroke: #737373;
  --checkbox-active: #6e7dff;
  --checkbox--icon-active: #dcdcdc;
  --selection: #3d3d3d;
}

/* ::selection {
  background-color: 'var(--selection)';
  color: 'var(--menu-text)';
} */

/* h3 {
  line-height: 1.5;
} */
